@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wshadow {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.table-actxa td{
 border-top: 1px solid #D2D3D4;
 border-bottom: 1px solid #D2D3D4;
}

.table-actxa td:first-child{
  border-left: 1px solid #D2D3D4;
}

.table-actxa td:last-child{
  border-right: 1px solid #D2D3D4;
}